<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Billie is cute || Temporary E-Mail || Viewing $message_id</title>
</head>
<body style="background-color: #1a1a1a;">
    <div class="header" style="text-align:center;margin-bottom: 2rem;margin-top: 1rem;">
        <div style="font-size:5rem;font-weight:bolder;line-height: 0.85;">
            Billie<span style="font-size:7rem;color: rgb(255, 0, 157);">IS</span>Cute
        </div>
        <div>
            <span style="font-size: 2vw;">Temporary <span style="color: rgb(255, 0, 157);font-weight: bolder;">E-mail</span></span>
        </div>
    </div>
    <div class="message">
        <div class="message-header">
            From : $address_from
            <br>To : $address_to
            <br>On : $message_date
            <br>Message:
            <br>
            <div style="background-color: rgb(24, 24, 24);padding:0 25vw;border-radius: 10px;">
                this is test email
            </div>
        </div>
    </div>
</body>
</html>