body{
    color: white;
}
.change-on-hover:hover{
    color: rgb(255, 0, 157);
    font-weight: bolder;
}
.message-header{
    position: absolute;
    top: 30%;
    left: 22%;
}
.message-body{
    position: absolute;
    top: 45%;
    left:14vw;
    padding:1rem 30%;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #111111;
    color: white;
    text-align: center;
}
.footer a{
    font-weight: bolder;
    color:rgb(255, 0, 157);
    text-decoration: none;
}
.footer a:hover{
    color:blue;
}